/*
CSS RESETS:
 Border box reset:
https://www.paulirish.com/2012/box-sizing-border-box-ftw/
 62.5% Fix: https: //www.aleksandrhovhannisyan.com/blog/62-5-percent-font-size-trick/
*/


html {
   box-sizing: border-box;
   font-size: 62.5%;
}


*,
*:before,
*:after {
   box-sizing: inherit;
   margin: 0;
   padding: 0;
}


html,
body {
   height: 100%;
}


body {
    font-size: 1.6rem;
   /* font-size 1.6rem is now the same as 16px */
   line-height: 1.6;
}

@keyframes stretching {
   0% {
     width: 0%;
     transform: rotateX(10deg);
   }
   100% {
     width: 100%;
     transform: rotateY(10deg);
   }
 }
 
 
 .button {
   display: inline-block;
   background-color:aliceblue;
   animation-name: stretching;
   animation: stretching 5s, normal, infinite, ease-in;
 }
 