html {
    box-sizing: border-box;
    font-size: 62.5%;
 }
 
 
 *,
 *:before,
 *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
 }
 
 
 html,
 body {
    height: 100%;
 }
 
 
 body {
     font-size: 1.6rem;
    /* font-size 1.6rem is now the same as 16px */
    line-height: 1.6;
    background-color: black;
    color:white;
 }
 
 header {
    padding: 50px;
    background-color: rgb(83, 74, 62);
    text-align: center;
 }

 main {}

 p  {
    margin-top: 20px;
 }

 h1 {
    margin: center;
 }

.image-div {
   display: inline-block;
}

.hidden {
   visibility: hidden;
}

#image-0 {
   position: absolute;
   top: 50px;
   right: 20vw;
}

#image-1 {
   position: absolute;
   top: 250px;
   right: 20vw;
}

#image-2 {
   position: fixed;
   top: 20px;
   left: 150px;
}
@keyframes stretching {
    0% {
      width: 100px;
      transform: rotate(10deg);
    }
    100% {
      width: 200px;
      transform: rotate(360deg);
    }
  }
.button {
    display: inline-block;
    padding: 10px;
    background-color:aliceblue;
    animation-name: stretching;
    animation: stretching 10s ease-in infinite normal;
  }
  
#question-box {
    transition: opacity 1s ease-out;
}